/* Your styles goes here. */
.trailsText {
  position: relative;
  width: 100%;
  height: 120px;
  line-height: 120px;
  color: white;
  font-size: 9em;
  font-weight: 900;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: transparent;
  position: absolute;
  color: white;
  z-index: 3;
  margin-top: 10px;
}

nav > span {
  margin: 10px;
}

.trailsText > div {
  padding-right: 0.05em;
  overflow: hidden;
}

.heroContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background: linear-gradient(#272727, #9198e5);
}

.heroContainer h2 {
  color: white;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #9198e5;
}

.card {
  width: 500px;
  height: 500px;
  border-radius: 50px;
  background-color: white;
  /* text color */
  padding: 80px;
}

.container {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  height: 100%;
  width: 100%;
  background-color: #9198e5;
  overflow: hidden;
}

.hero {
  width: 40%;
  min-width: 300px;
}

.tryNowLink {
  color: inherit; /* Inherit text color */
  text-decoration: none; /* Remove underline */
}

.tryNowButton {
  background-color: white; /* Sets the button background to white */
  color: #393939; /* Sets the button text color to a dark shade for contrast */
  border: 2px solid white; /* Defines the border; adjust color as needed */
  border-radius: 20px; /* Gives the button rounded corners */
  padding: 10px 30px; /* Adjusts the padding inside the button for size */
  font-weight: bold; /* Makes the button text bold */
  cursor: pointer; /* Changes the cursor to indicate the element is clickable */
  text-transform: uppercase; /* Optional: makes the text uppercase for style */
  font-size: 16px; /* Adjusts the font size */
  transition: all 0.3s ease; /* Adds a smooth transition effect on hover */
  outline: none; /* Removes the outline to keep the style clean */
}

.tryNowButton:hover {
  background-color: #f0f0f0; /* Lightens the button on hover for interaction feedback */
  color: #000; /* Optional: changes text color on hover for contrast */
  border-color: #ddd; /* Optional: changes border color on hover */
}

.footer {
  padding: 80px;
}